[project]
	description = TLS/SSL and crypto library
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/jfitzge
[access "refs/for/refs/*"]
	read = group user/jfitzge
	push = group user/jfitzge
	label-Code-Review = -2..+2 group user/jfitzge
	label-Verified = -1..+1 group user/jfitzge
	rebase = group user/jfitzge
	removeReviewer = group user/jfitzge
	submit = group user/jfitzge
[access "refs/heads/*"]
	read = group user/jfitzge
	create = group user/jfitzge
	push = +force group user/jfitzge
	pushMerge = group user/jfitzge
[access "refs/tags/*"]
	push = group user/jfitzge
	push = +force group user/jfitzge
